/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;
$facebook_blue: #3a589d;
// Background colors: 

$bkgoundContent: #FFFFFF; // 
$menuBarbkg: #D14719; //

$primary:  #56486d ; // set in theme options
$boxed-border: #56486d; // used by pss-boxed-content
/* Typography ------------------------------------------ */
